#portfolio-about-me {
    max-width: 25%;
    height: auto;
    transform: rotate(90deg);
    position: relative;
    top: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #00264d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    position: relative;
    top: 100px;
    color: #ff6666;
    font-family: 'Montserrat Alternates', sans-serif;
    /* text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070; */
}


h3 {
    color: #ff6666;
    font-family: 'Montserrat Alternates', sans-serif;
    /* text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070; */
}

h5 {
    color: #ff6666;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 300px;

}

#bottom-text-name {
    text-align: center;
}

#info-text {
    text-align: center;
    font-size: 1.875em;
}

#starImg {
    height: 300px;
}

body {
    /* background-color: #27dadd; */
    background-image: linear-gradient(#27dadd, #d1feff);
}

.p-2 {
    color: #ff6666;
    display: inline;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.875em;
    
}

.nav-container {
    margin-left: 560px;
    position: relative;
    margin-top: 20px;
}

#italic_item {
    font-style: italic;
    font-size: 20px;
}

#descr_item {
    font-size: 25px;
}

/* .container {
    position: relative;
    top: 100px;
    width: 960px;
    z-index: 10;
    background-color: #ffffff;
    padding-bottom: 20px;
} */


.navbar-text {
    text-align: center;
}

.portPic {
    position: absolute;
    top: 50%;
    left: 30px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: small;
    z-index: 10;
    padding: none;
    width: 64%;
    height: 40px;
    padding-top: 10px;
    
}

#logo {
    height: 700px;
    margin-left: 150px;
    margin-bottom: 0;
    margin-top: 0;
}
